




<!-- <ul>
  {{#each question.answers as |answer|}}
    <li>{{#link-to 'answer' answer.id}}{{answer.owner}}'s {{answer.type}}{{/link-to}}</li>
  {{/each}}
</ul> -->

<!-- <button class="btn btn-info btn-sm" {{action 'addFavorite' question}}>Mark this your favorite</button> -->

<button class="btn btn-danger btn-sm" {{action 'destroyQuestion' question}}>Delete question</button>
