body {
   background-image: url("background.jpeg");
   color: white;
}

#intro {
  color: black;
  background
}

#QB {
  text-align: center;
}

.form-group {
  color: black;
}



/*.header {
  text-color: Black;
}*/
