<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"> {{#link-to "index"}}Question-Board{{/link-to}}</a>
    </div>
    <!-- NAVIGATION BAR RESPONSIVE -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id="right">{{#link-to "about"}}<a>About</a>{{/link-to}}</li>
        <li id="right">{{#link-to "contact"}}<a>Contact</a>{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <header id="intro" class="jumbotron">
    <h1 class="header"><strong>Welcome to Singularity</strong></h1>
  </header>

  {{outlet}}


<!-- FOOTER for WEBSITE -->
  <footer>
    <h2>Reed Lambier</h2>
    <h4>epicodus 2016</h4>
    <h5>Licensed under MIT</h5>
  </footer>
</div>
