<h3><strong><em>QUESTION BOARD</em></strong> where all questions have answers.</h3>

<h2>Ask away!</h2>

<ul>
   {{#each model as |question|}}
     <li>
       <h4>
         {{question-popularity question}}{{#link-to 'question' question.id}}{{question.ask}}{{/link-to}} written by {{question.author}}.
       </h4>
     </li>
   {{/each}}
 </ul>


 <hr>
 {{new-question saveQuestion="saveQuestion"}}

<!-- 1) This is essentially the last step depending on how you look at it but when a question is entered it will be displayed here after it is entered. -->
